{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<h1 class="mx-auto">Create Post</h1>
		<form method="POST" class="w-50 mx-auto">
			{{ form.hidden_tag() }}
			<div class="mb-3">
				<label for="title" class="form-label">Title:</label>
				{{ form.title(class='form-control', placeholder='Title') }}
			</div>
			<div class="mb-3">
				<label for="caption" class="form-label">Caption:</label>
				{{ form.caption(class='form-control', placeholder='Caption') }}
			</div>
			<div class="mb-3">
				<label for="img_url" class="form-label">Image URL:</label>
				{{ form.img_url(class='form-control', placeholder='Image URL') }}
			</div>
			{{ form.submit_btn(class='btn btn-dark d-block mx-auto') }}
		</form>
	</div>
{% endblock %}
