{% extends 'base.html' %}
<title>{% block title %}landing{% endblock %}</title>
{% block content %}
	<h1>Select Your Pokemon Character</h1>
	<form method="POST">
		<label for="gender">Choose your gender:</label>
		<select name="gender">
			{% for gender in genders %}
				<option value="{{ gender }}">{{ gender }}</option>
			{% endfor %}
		</select>
		<br>
		<label for="character">Choose your character:</label>
		<select name="character">
			{% for character in character_choices %}
				<option value="{{ character }}">{{ character }}</option>
			{% endfor %}
		</select>
		<br>
		<label for="team">Choose your team:</label>
		<select name="team">
			{% for team in team_choices[selected_character] %}
				<option value="{{ team }}">{{ team }}</option>
			{% endfor %}
		</select>
		<br>
		<label for="pokemon">Choose your Pokemon:</label>
		<select name="pokemon">
			<!-- Add your Pokemon options here -->
		</select>
		<br>
		<input type="submit" value="Next">
	</form>
{% endblock %}
