<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pokémon Card Fetcher</title>
</head>
<body>
<h1>Find Pokémon Cards</h1>
<a style="margin-top: 25px" href="{{ url_for('main.home') }}" class="btn btn-primary">Go to Home</a>

<form method="post" action="/pokedex">
	<label for="name">Enter Pokémon Name:</label>
	<input type="text" id="name" name="name">
	<button type="submit">Search</button>

</form>
{% if card %}
	{% if card == 'No card found' %}
		<p>No card found for the given name.</p>
	{% else %}
		<h2>{{ card.name }}</h2>
		<img src="{{ card.images.small }}" alt="{{ card.name }}">
		<p><strong>Type:</strong> {{ card.types[0] if card.types else 'N/A' }}</p>
		<p><strong>Rarity:</strong> {{ card.rarity if card.rarity else 'N/A' }}</p>
		<p><strong>Set:</strong> {{ card.set.name if card.set and card.set.name else 'N/A' }}</p>
	{% endif %}
{% endif %}
<button type="submit">Catch</button>

</body>
</html>
