<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Optional: You can include Bootstrap theme if you want -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">

<!-- Link to Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
	<title>Pokémon Card Fetcher</title>
</head>
<body>
<div class="container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="flashes">
				{% for message in messages %}
					<li class="alert alert-warning">{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	<h1>Find Pokémon Cards</h1>
	<form method="post" action="/pokedex">
		<label for="name">Enter Pokémon Name:</label>
		<input type="text" id="name" name="name">
		<button class="btn btn-success" type="submit">Search</button>
	</form>

	{% if card %}
		{% if card == 'No card found' %}
			<p>No card found for the given name.</p>
		{% else %}
			<form action="/save" method="post">
				<h2>{{ card.name }}</h2>
				<img src="{{ card.images.small }}" alt="{{ card.name }}">
				<p><strong>Type:</strong> {{ card.types[0] if card.types else 'N/A' }}</p>
				<p><strong>Rarity:</strong> {{ card.rarity if card.rarity else 'N/A' }}</p>
				<p><strong>Set:</strong> {{ card.set.name if card.set and card.set.name else 'N/A' }}</p>

				<!-- Hidden fields to send data to the server -->
				<input type="hidden" name="name" value="{{ card.name }}">
				<input type="hidden" name="image" value="{{ card.images.small }}">
				<input type="hidden" name="type" value="{{ card.types[0] if card.types else 'N/A' }}">
				<input type="hidden" name="rarity" value="{{ card.rarity if card.rarity else 'N/A' }}">
				<input type="hidden" name="set" value="{{ card.set.name if card.set and card.set.name else 'N/A' }}">

				<button type="submit">Save</button>
			</form>
		{% endif %}

	{% endif %}
	<a href="/view_team_pokemons">
		<button class="btn btn-success my-3 ">See your team's pokemons</button>
	</a>
</div>
</body>
</html>
