<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>Pokémon API Fetcher</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<header>
	<h1 class="header">Oackland API Portfolio</h1>
</header>
<section>
	<div class="box">
		<div class="container">
			<div class="form">
				<h2 style="text-align: center">POKEDEX</h2>
				<form action="/fetch_pokemon_data" method="post">
					<div class="inp">
						<label for="pokemonName" class="insert_label">Enter Pokémon Name:</label>
						<input type="text" id="pokemonName" name="pokemonName">
					</div>
					<div class="lbtn">
						<button type="submit">Fetch Data</button>
					</div>
				</form>
			</div>
			<div id="pokemonData" style="text-align: center;">
				{% if pokemon_data %}
					<h2>{{ pokemon_data.name }}</h2>
					<p>Base Experience: <span>{{ pokemon_data.hp }}</span></p>
					<p>Ability: <span>{{ pokemon_data.ability }}</span></p>
					<p>Attack: <span>{{ pokemon_data.attack }}</span></p>
					<p>Defense: <span>{{ pokemon_data.defense }}</span></p>
					<img src="{{ pokemon_data.sprite_url }}" alt="Pokemon Sprite">
				{% endif %}
				{% if error_message %}
					<div id="errorDiv" style="color: red;">
						<p>{{ error_message }}</p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
</body>

</html>
